{% include 'topbase.html.twig' %}
    <h1 id="title"> Word Count </h1>
    <h2 id="description">This program will allow you to search for how many times a word appears in a sentence, paragraph, or article. It can be used to decide what key words to use in a search. Enter the sentence(s) you want to check in the first input and the word you would like to check for in the second</h2>
    <form action="/result" method="post">
        <input class="form-control cheese" name="user_string" type="text" placeholder="Enter Sentence">
        <input class="form-control cheese" name="user_word" type="text" placeholder="Enter Word To Check For">
        <button id="butt" type="submit">Submit</button>


{% include 'bottombase.html.twig' %}
