{% include 'topbase.html.twig' %}

  <p><a href='/'>Home</a></p>
  <div class ="row">
    <div id="blue" class="col-lg-3">
    </div>
    <div id="purple" class="col-lg-3">
    </div>
    <div id="green" class="col-lg-3">
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div class ="row">
    <div id="yellow" class="col-lg-3">
    </div>
    <div id="white" class="col-lg-3">
    </div>
    <div id="red" class="col-lg-3">
    </div>
    <div class="col-lg-3">
    </div>
  </div>
  <div class ="row">
    <div id="pink" class="col-lg-3">
    </div>
    <div id="orange" class="col-lg-3">
    </div>
    <div id="bluer" class="col-lg-3">
      <h1>{{ steve }}</h1>
    </div>
    <div id="greener" class="col-lg-3">
    </div>
  </div>
  <div class ="row">
    <div id="purpler" class="col-lg-3">
    </div>
    <div id="reder" class="col-lg-3">
    </div>
    <div id="yellower" class="col-lg-3">
    </div>
    <div id="whiter" class="col-lg-3">
    </div>
  </div>

{% include 'bottombase.html.twig' %}
